  .card {
    max-width: 400px;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  h2 {
    font-size: 24px;
  }
  
  p {
    font-size: 16px;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }
  

  .custom-card:hover {
    background-color: grey;
    transform: scale(1.05); /* Enlarge on hover */
  }