/* app.component.css */
.tab-buttons {
    display: flex;
    // background-color: #f5f5f5;
    border-bottom: 1px solid #e0e0e0;
  }
  
  .tab-button {
    padding: 15px 20px;
    font-size: 23px;
    color: rgb(47, 21, 152);
    font-weight: bold;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-bottom-color 0.3s;
    // color: darkblue !important;
  }
  
  .tab-button.active {
    border-bottom: 5px solid #1976d2;
    color: #1976d2;
    font-size: 18px;
    font-weight: bold;
  }
  
  .content-container {
    margin-top: 16px;
  }
  .vertical-line {
    width: 1px;
    height: 50px;
    background-color: #e0e0e0;
    margin: 0 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  