
.custom-card-data{
  width: 97%;
  background: linear-gradient(45deg, #ff9900, #ff5b5b); /* Background gradient */
  color: #fff;
  border: 2px solid #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  margin-top: 2%;
  height: 100%;
  margin-bottom: 40px;
}
// .custom-card:hover {
//   transform: scale(0.5.05); /* Enlarge on hover */
// }


mat-card-image {
  flex: 1; /* Make the image take up 1/3 of the card width */
  max-width: 200px; /* Limit the image width */
  padding: 20px;
}

.card-details {
  flex: 2; /* Make the details take up 2/3 of the card width */
  padding: 20px;
}

.card-title {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.card-description {
  font-size: 16px;
  padding: 10px 0;
}

.custom-button {
  background-color: #ff5b5b;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.custom-button:hover {
  background-color: #ff2f2f; /* Button color on hover */
}

.custom-card {
  // display: flex;
  flex-direction: column; /* Set flex direction to column */
  width: 97%;
  background: linear-gradient(45deg, #ff9900, #ff5b5b);
  color: #fff;
  border: 2px solid #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  margin-top: 2%; /* Adjust the margin to suit your design */
  margin-bottom: 40px;
}

.card-content {
  display: flex;
  width: 100%;
  flex: 1; /* Make the content expand to fill the available space */
}

iframe {
  height: 1000px;
  width: 96%;
  /* margin-top: 20px; */
  margin: 20px;
}

.thank-you-container-data {
  display: flex;
  justify-content: center;
  align-items: center;
  // height: 93vh;
  background-color: white;
  border-radius: 30px;
}
@media screen and (max-width: 576px) {
  .thank-you-container-data {
    border-radius: 0px;
  }
}
