<div *ngIf="!loading" class="thank-you-container-data ">
  <mat-card class="custom-card">
    <div class="card-content">
      <img mat-card-image src="{{ driverSelectedImage }}" alt="Driver Image">
      <div class="card-details">
        <h2 class="card-title">{{ driverSelectedName }}</h2>
        <p class="card-description">{{ driverSelectedDesc }}</p>
        <button mat-button class="custom-button" style="margin-right: 20px;" (click)="onButtonClick()">Go-Back</button>
        <button mat-button class="custom-button">
          <a href="https://script.google.com/macros/s/AKfycbwL8CxAhj6osd87pt2bdkEoZcdFaWu-_jQti3XVkAZ-WfaJQpc7WKGVuW2Acvv2UESdeg/exec" target="_blank">
            Open in Browser
          </a>
        </button>
      </div>
    </div>
    <iframe src="https://script.google.com/macros/s/AKfycbwL8CxAhj6osd87pt2bdkEoZcdFaWu-_jQti3XVkAZ-WfaJQpc7WKGVuW2Acvv2UESdeg/exec"></iframe>
  </mat-card>  
</div>
<div *ngIf="loading" class="thank-you-container-data ">
<img src="assets/giphyloading.gif" alt="Loading..." class="thank-you-gif">
</div>
